body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 0 26px;
	line-height: 1em;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	color: #4080D0;
	text-decoration: none;
}
a:focus, input:focus, select:focus, textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

hr {
	border: 0;
	height: 2px;
	border-bottom: 2px solid;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

h1, h2, h3 {
	font-weight: normal;
}

blockquote {
	margin: 0 7px 0 5px;
	padding: 0 16px 0 10px;
	border-left: 5px solid;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	padding: 7px;
}

.code-block {
	display: block;
	width: 90%;
	border-width: 1px;
}

.code-title {
	display: block;
	background:#c6c3c3;
	color: black;
	font-weight: bold;
	border-bottom-color: #ccc;
	padding: 5px 10px;
	overflow: hidden;
	position: relative;
}

pre {
	margin: 0px;
}

pre > code {
	display: block;
	background:rgba(0, 0, 0, 0.15);
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-space;
	/* Confluence allows for indentations and whitespace preservation in code blocks */
	/* white-space: normal; */
	white-space: pre-wrap;
	margin: 0px;
	padding: 5px 1em;
	line-height: 1.5em;
}


.panel {
	display: inline-block;
	width: 90%;
	color: black;
	margin: 0px;
	background-color: lightslategrey;
	border-width: 1px;

}

.panel-title {
	font-weight: bold;
	padding: 5px 3px;
	border-bottom: none;
}

.panel-body {
	background-color: lightgrey;
	padding: 3px;
}


pre > code > p {
	margin: .5em 0;
}

ul {
	list-style-type: disc;
}

ul.alternate {
	list-style-type: square;
}

ol.initial {
	list-style: decimal;
}

ol.initial > ol {
	list-style-type: lower-alpha;
}

ol.initial > ol > ol {
	list-style-type: lower-roman;
}
