body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 0 26px;
	line-height: 1em;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	color: #4080D0;
	text-decoration: none;
}
a:focus, input:focus, select:focus, textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

hr {
	border: 0;
	height: 2px;
	border-bottom: 2px solid;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

h1, h2, h3 {
	font-weight: normal;
}

blockquote {
	padding: 1px 2px;
	border-left: 5px solid;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	padding: 7px;
}

.code-block {
	display: block;
	width: 90%;
	border-width: 1px;
}

.code-title {
	display: block;
	background:#c6c3c3;
	color: black;
	font-weight: bold;
	border-bottom-color: #ccc;
	padding: 5px 10px;
	overflow: hidden;
	position: relative;
}

pre {
	margin: 0px;
}

pre > code {
	display: block;
	background:rgba(0, 0, 0, 0.15);
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-space;
	/* Confluence allows for indentations and whitespace preservation in code blocks */
	/* white-space: normal; */
	white-space: pre-wrap;
	margin: 0px;
	padding: 5px 1em;
	line-height: 1.5em;
}

.panel, .tip, .info, .note, .warning {
	display: inline-block;
	width: 90%;
	color: black;
	margin: 0px;
	background-color: lightslategrey;
	border-width: 2px;
	vertical-align: middle;
}

.panel-title {
	font-weight: bold;
	padding: 5px 3px;
	border-style: solid;
	/* border-bottom: none; */
}

.panel-body {
	background-color: lightgrey;
	padding: 3px;
	border-style: solid;
	border-top: none;
}

.info, .info-title, .info-body {
	border-color: #aab8c6;
	border-style: solid;
	background-color: #fcfcfc;
}

.tip, .tip-title, .tip-body {
	border-color: #91c89c;
	border-style: solid;
	background-color: #f3f9f4;
}

.note, .note-title, .note-body {
	border-color: #ffeaae;
	border-style: solid;
	background-color: #fffdf6;
}

.warning, .warning-title, .warning-body {
	border-color: #d04437;
	border-style: solid;
	background-color: #fff8f7;
}

.info-title, .tip-title, .note-title, .warning-title,
.info-title-iconless, .tip-title-iconless, .note-title-iconless, .warning-title-iconless {
	font-weight: bold;
	padding: 2px;
	margin: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	width: 80%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: none;
}

.info-body, .tip-body, .note-body, .warning-body {
	padding: 2px;
	margin: 0px;
	padding-left: 35px;
	padding-top: 0px;
	width: calc(80% - 5px);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top: none;
}

.info-title:before, .tip-title:before, .note-title:before, .warning-title:before,
.info-title-iconless:before, .tip-title-iconless:before, .note-title-iconless:before, .warning-title-iconless:before {
	margin-left: -16px;
	margin-right: 5px;
	vertical-align: middle;
}

.info-title:before, .info-title-iconless:before {
	content: url('./../icons/macro-info.png');
}

.tip-title:before, .tip-title-iconless:before {
	content: url('./../icons/macro-tip.png');
}

.note-title:before, .note-title-iconless:before {
	content: url('./../icons/macro-note.png');
}

.warning-title:before, .warning-title-iconless:before {
	content: url('./../icons/macro-warning.png');
}

.info-title-iconless:before, .tip-title-iconless:before,.note-title-iconless:before, .warning-title-iconless:before {
	opacity: 0.0;
}

pre > code > p {
	margin: .5em 0;
}

ul {
	list-style-type: disc;
}

ul.alternate {
	list-style-type: square;
}

ol.initial {
	list-style: decimal;
}

ol.initial > ol {
	list-style-type: lower-alpha;
}

ol.initial > ol > ol {
	list-style-type: lower-roman;
}
