{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 1, // 2 - error, 1 - warn, 0 - off
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_" }]
  }
}
